<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summer Fruits</title>
    <link rel="stylesheet" href="/css/夏天.css">

    <style>
        
        .container {
            display: flex;
            flex-wrap: wrap;

        }
    </style>
</head>
<body>
    <header>
        <div class="container">
            <h1>Summer Fruits</h1>
        </div>
    </header>
    <main>
        <section class="fruits-section">
            <div class="container">
                <div class="fruit-card" data-name="Cherry" data-season="Summer" data-type="Melons">

                    <h2>Cherry</h2>
                    <p>Promote hemoglobin regeneration and whitening</p>
                </div>
                <div class="fruit-card" data-name="Litchi" data-season="Summer" data-type="Melons">

                    <h2>Litchi</h2>
                    <p>Invigorate the spleen and promote skin metabolism</p>
                </div>
                <div class="fruit-card" data-name="Watermelon" data-season="Summer" data-type="Melons">

                    <h2>Watermelon</h2>
                    <p>clearing heat and diuresis, relieving summer heat and producing fluid</p>
                </div>
                <div class="fruit-card" data-name="Apple" data-season="Summer" data-type="Melons">

                    <h2>Apple</h2>
                    <p>promote gastrointestinal peristalsis, promote the body to discharge waste, make the skin delicate and red</p>
                </div>
                <div class="fruit-card" data-name=" Pear" data-season="Summer" data-type="Melons">

                    <h2> Pear</h2>
                    <p>reduce blood pressure, heat detoxification</p>
                </div>
                <div class="fruit-card" data-name="Peach" data-season="Summer" data-type="Drupe">

                    <h2>Peach</h2>
                    <p>Promoting blood circulation, removing blood stasis, moistening bowel, relieving cough and relieving asthma</p>
                </div>
                <div class="fruit-card" data-name="Strawberry" data-season="Summer" data-type="Berries">

                    <h2>Strawberry</h2>
                    <p>cool thirst, stomach digestion</p>
                </div>
                <div class="fruit-card" data-name="Cherry" data-season="Summer" data-type="Drupe">

                    <h2>Cherry</h2>
                    <p>Promote hemoglobin regeneration and whitening</p>
                </div>
                <div class="fruit-card" data-name="Kiwifruit" data-season="Summer" data-type="Others">

                    <h2>Kiwifruit</h2>
                    <p>clearing heat and thirst and stomach dampness and blood promotion</p>
                </div>
                <div class="fruit-card" data-name="Hami Melon" data-season="Summer" data-type="Melons">

                    <h2>Hami Melon</h2>
                    <p>ease and benefit qi Qing lung heat cough</p>
                </div>
                <div class="fruit-card" data-name=" Cantaloupe" data-season="Summer" data-type=" Melons">

                    <h2> Cantaloupe</h2>
                    <p>Relieving summer heat and diuresis clearing lung and running intestine healing pain</p>
                </div>
                <div class="fruit-card" data-name=" Li:" data-season="Summer" data-type="Drupe">

                    <h2> Li</h2>
                    <p>Clearing heat and promoting fluid</p>
                </div>
                <div class="fruit-card" data-name="Mango" data-season="Summer" data-type="Drupe">

                    <h2>Mango</h2>
                    <p>promoting fluid to quench thirst, benefit stomach and stop vomiting and diuretic to stop fainting</p>
                </div>
                <div class="fruit-card" data-name=" Apricot" data-season="Summer" data-type="Drupe">

                    <h2> Apricot</h2>
                    <p>reducing qi, resolving phlegm, relieving cough, asthmatic, moistening bowel and defecating 13. Litchi: invigorating spleen, regulating qi and relieving pain</p>
                </div>
                <div class="fruit-card" data-name=" Loquat" data-season="Summer" data-type="Drupe">

                    <h2> Loquat</h2>
                    <p>relieving cough, relieving asthma, reducing blood sugar, anti-inflammation and anti-infection</p>
                </div>
                <div class="fruit-card" data-name="Blueberry" data-season="Summer" data-type="Berries">

                    <h2>Blueberry</h2>
                    <p> improve vision, enhance memory, anti-oxygen and anti-aging</p>
                </div>
                <div class="fruit-card" data-name="Avocado" data-season="Summer" data-type="Drupe">

                    <h2>Avocado</h2>
                    <p>skin care, anemia prevention, cough relief</p>
                </div>
                <div class="fruit-card" data-name="Mulberry" data-season="Summer" data-type="Berries">

                    <h2>Mulberry</h2>
                    <p>improve immunity, improve sleep, delay aging, reduce blood sugar, reduce blood fat</p>
                </div>
                <div class="fruit-card" data-name="Longan" data-season="Summer" data-type="Others">

                    <h2>Longan</h2>
                    <p>published heat, dampness and detoxification, tonifying heart and spleen, Qi and blood, calming</p>
                </div>
                <div class="fruit-card" data-name="Plum" data-season="Summer" data-type="Drupe">

                    <h2>Plum</h2>
                    <p>lowering blood sugar and lowering blood heat and quenching thirst to enhance immunity</p>
                </div>
                <div class="fruit-card" data-name="Bayberry" data-season="Summer" data-type="Berries">

                    <h2>Bayberry</h2>
                    <p>and stomach digestion to relieve heat and diarrhea</p>
                </div>
                <div class="fruit-card" data-name="Jujube" data-season="Summer" data-type="Others">

                    <h2>Jujube</h2>
                    <p>supplementing Qi, peace of mind to help sleep, nourishing blood and beauty</p>
                </div>
                <div class="fruit-card" data-name="Blackberry" data-season="Summer" data-type="Berries">

                    <h2>Blackberry</h2>
                    <p>Enhance immunity, reduce blood pressure, reduce blood lipids, anti-inflammation and hemostasis</p>
                </div>
                <div class="fruit-card" data-name="Snake berry" data-season="Summer" data-type="Berries">

                    <h2>Snake berry</h2>
                    <p>clearing heat and detoxifying</p>
                </div>
                <div class="fruit-card" data-name="Raspberry" data-season="Summer" data-type="Berries">

                    <h2>Raspberry</h2>
                    <p> relieve cardiovascular diseas</p>
                </div>
                <div class="fruit-card" data-name="Olive" data-season="Summer" data-type="Citrus Fruits">

                    <h2>Olive</h2>
                    <p>soothe throat and reduce swelling</p>
                </div>
                <div class="fruit-card" data-name="Monk fruit" data-season="Summer" data-type="Berries">
                    <h2>Monk fruit</h2>
                    <p>moistening lung cough, anti-aging</p>
                </div>
                <div class="fruit-card" data-name="Black currant" data-season="Summer" data-type="Berries">

                    <h2>Black currant</h2>
                    <p> Detoxification</p>
                </div>
                <div class="fruit-card" data-name="Lotus mist" data-season="Summer" data-type="Berries">

                    <h2>Lotus mist</h2>
                    <p>moistening lungs and relieving cough</p>
                </div>
                <div class="fruit-card" data-name="Sand fruit" data-season="Summer" data-type="Drupe">

                    <h2>Sand fruit</h2>
                    <p>relieving cough and relieving asthma</p>
                </div>
                <div class="fruit-card" data-name="Bergamot" data-season="Summer" data-type="Others">

                    <h2>Bergamot</h2>
                    <p>soothe the liver and relieve depression</p>
                </div>
                <div class="fruit-card" data-name="Elaeagnus" data-season="Summer" data-type="Drupe">

                    <h2>Elaeagnus</h2>
                    <p>strengthening spleen to relieve cough and asthma to stop bleeding</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2023 Summer Fruits Website</p>
        </div>
    </footer>
    <script src="/js/夏天.js"></script>
</body>
</html>