<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winter Fruits</title>
    <link rel="stylesheet" href="/css/夏天.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Winter Fruits</h1>
        </div>
    </header>
    <main>
        <section class="fruits-section">
            <div class="container">
                
                <div class="fruit-card" data-name="Sugarcane" data-season="Winter" data-type="Others">

                    <h2>Sugarcane</h2>
                    <p>eliminating phlegm and cough, clearing heat and detoxifying</p>
                </div>
                <div class="fruit-card" data-name="Monk fruit" data-season="Winter" data-type="Berries">

                    <h2>Monk fruit</h2>
                    <p>moistening lung cough, anti-aging</p>
                </div>
                <div class="fruit-card" data-name="Guava" data-season="Winter" data-type="Berries">

                    <h2>Guava</h2>
                    <p>beauty, diarrhea</p>
                </div>
               
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Fruits Website</p>
        </div>
    </footer>
    <script src="/js/春天.js"></script>
</body>
</html>